@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:root {
  --dark-green: #023736;
  --dark-red: #a21d1d;
  --green: #cdf3d8;
  --red: #f0bcbc;
}

* {
  font-family: 'Overpass', sans-serif;
}

i {
  margin-right: 1vw;
}