.account-form{
    width: 60%;
    margin: 25px auto;
}

.label-account{
    color: var(--dark-red);
}

.account-form div{
    margin: 10px !important;
}

i.user-icon{
    font-size: 128px;
    display: block;
    text-align: center;
    color: var(--dark-green);
}

span.user-email-id{
    font-size: 1em;
    color: var(--dark-green);
    display: block;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.user-data{
    display: grid;
    justify-content: center;
    grid-template-columns: 150px 400px;
    gap: 5px;
}

input.column-right{
    grid-column: 2;
}

.account-form .btn button{
    width: 560px;
    text-align: center;
}

button.edit-account{
    width: 60px;
    padding: 2px;
    margin: 0;
    display: block;
    margin: auto;
    border-radius: 3px;
    font-size: 0.75em;
}

.addr-textarea{
    resize: none;
}

button.disable-btn{
    cursor: not-allowed;
    background-color: var(--logo-green);
}