.shopNameOnOrder{
    color: var(--dark-green);
    margin: 15px 0;
    text-align: left;
    font-weight: bold;
}

.make-order-div{
    flex-direction: column;
    align-items: center;
}

.make-order-div .shopKeeperHomeBtns{
    width: 120%;
    margin: 2em;
}

button.btn-confirm{
    margin: 1em 0;
}