.shop-keeper-home {
    /* width: 80vw;
    height: 100%; */
    /* margin: 25px auto; */

    text-align: center;
    height: 80vh;
    box-sizing: border-box;
    margin: 25px;
    padding: 25px;
    border: 3px solid var(--dark-green);
    border-radius: 5px;
    overflow-y: auto;
}

.order-action {
    display: inline-block;
    width: auto;
    font-size: 0.8em;
    padding: 2px;
    margin-left: 25px;
    background-color: var(--dark-red);
}

.shopKeeperHomeBtns {
    text-align: center;
    position: sticky;
    top: 0;
}

input#btnYourOrders,
input#btnCheckStocks,
input#btnYourProducts {
    width: 20% !important;
    color: white;
    font-size: 1.2em;
    border: 1px solid white !important;
    cursor: pointer;
    padding: 5px;
}

input#btnYourOrders {
    border-radius: 10px 0 0 10px;
}

input#btnCheckStocks {
    border-radius: 0 10px 10px 0;
}

.no-underline:hover {
    background-color: var(--red) !important;
    color: var(--dark-red) !important;
    font-weight: bold;
}

.stocksTable {
    display: none;
    margin-top: 25px;
}

.underlined {
    text-decoration: underline;
    cursor: default !important;
    background-color: var(--dark-green) !important;
}

.no-underline {
    text-decoration: none;
    background-color: var(--dark-red) !important;
}

.productsDiv {
    display: none;
    flex-wrap: wrap;
}

.product-card{
    width: 40vw;
    height: 250px;
    max-height: 260px;
    border: 2px solid var(--dark-red);
    background-color: var(--green);
    border-radius: 5px;
    margin: 20px auto;
    overflow-y: auto;
    text-align: left;
    display: grid;
    grid-template-columns: 35% 65%;
}

.product-card img{
    width: 100%;
    height: 100%;
    background-color: white;
}

.product-details{
    padding: 10px;
}

.product-details span{
    display: block;
    margin: 10px;
    color: var(--dark-green);
}

.product-details span.product{
    font-weight: bold;
    color: var(--dark-red);
}

caption#stocksTableCaption{
    color: var(--dark-green);
    font-weight: bold;
}

caption#stocksTableCaption i{
    padding: 5px !important;
}

span.no-product{
    display: block;
    margin: 100px auto;
    color: var(--dark-red);
    font-weight: bold;
    font-size: 1.3em;
}

.productsDiv:has(> span.no-product){
    background-color: var(--red);
    margin: 10px;
    border-radius: 10px;
    padding: 15vh;
}

a.a-href{
    padding: 5px;
    background-color: var(--dark-green);
    font-weight: initial;
}

a.a-href:hover{
    font-weight: bold;
}

td.no-product-td{
    color: var(--dark-red);
    font-weight: bold;
    font-size: 1.3em;
    padding: 55px !important;
    background-color: var(--red);
}

caption.custShopHomeCaption{
    margin-top: 20px !important;
}

span.no-order-data{
    display: block;
    background-color: var(--red);
    margin: auto;
    padding: 25px;
    color: var(--dark-red);
    font-size: 1em;
    border-radius: 5px;
    font-weight: bold;
}