span#shopTitle{
    color: var(--dark-red);
    font-size: 35px;
    display: block;
    /* margin: 20px auto;
    margin-bottom: 0; */
    text-align: center;
    font-weight: bold;
}

.shop-container{
    display: flex;
    flex-wrap: wrap;
}

.shop-item{
    width: 450px;
    max-height: 300px;
    border: 2px solid var(--dark-red);
    background-color: var(--green);
    border-radius: 5px;
    margin: 20px auto;
    overflow-y: auto;
    text-align: left;
}

.shop-item span{
    display: block;
    margin: 10px;
    color: var(--dark-green);
}

.shop-item span.shop{
    font-weight: bold;
    color: var(--dark-red);
}

span.no-cust-data{
    display: block;
    margin: auto;
    color: var(--dark-red);
    font-weight: bold;
    font-size: 1.3em;
}

.shop-container:has(> span.no-cust-data){
    background-color: var(--red);
    margin: 10px;
    border-radius: 10px;
    padding: 28vh;
}

.hidden-div{
    display: none;
}

button.viewProductsBtn{
    width: unset;
    margin: 0;
    padding: 5px;
    font-size: 1em;
    float: right;
}

.hidden-products-table{
    display: none;
}

.products-table{
    width: 100%;
}