body>.products {
    background-color: var(--green);
}

.products {
    display: flex;
    /* justify-content: center; */
    /* align-products: center; */
    background-color: white;
    /* flex-direction: column; */
    height: 80vh;
    box-sizing: border-box;
    margin: 25px;
    padding: 25px;
    border: 3px solid var(--dark-green);
    border-radius: 5px;
}

.products form {
    margin: 15px;
}

.products form input {
    width: 100%;
    border: 1px solid var(--dark-green);
    padding: 5px;
    border-radius: 5px;
    color: var(--dark-green);
}

#productsTitle {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: var(--dark-red);
    grid-column: span 2;
}

.form {
    display: grid;
    grid-template-columns: 200px 400px;
    row-gap: 30px;
}

select {
    width: 100%;
    border: 1px solid var(--dark-green);
    padding: 5px;
    border-radius: 5px;
    color: var(--dark-green);
}

.btnProduct {
    grid-column: span 2;
}

.tableContainer {
    max-height: 70vh;
    overflow-y: auto;
    width: 60%;
    text-align: center;
    margin-left: 25px;
    padding: 5px;
}

.productsTable {
    border: 1px solid var(--dark-green);
    text-align: center;
    width: 100%;
}

.productsTable tr:nth-child(even) {
    background-color: var(--green);
}

.productsTable tr:nth-child(odd) {
    background-color: var(--red);
}

.buttonMerger {
    grid-column: span 2;
}

.buttonMerger input,
.buttonMerger button {
    width: 50% !important;
    color: white !important;
    font-size: 1.2em;
    border: 1px solid white !important;
    cursor: pointer;
}

.buttonMerger input#actionProductsLeft {
    border-radius: 10px 0 0 10px;
    background-color: var(--dark-red);
}

.buttonMerger input#actionProductsRight {
    border-radius: 0 10px 10px 0;
    background-color: var(--dark-red);
}

.resetBtnProduct {
    /* grid-column: span 2; */
    background-color: var(--dark-red);
}

.red {
    background-color: var(--dark-red) !important;
}

.red:hover {
    background-color: var(--red) !important;
    color: var(--dark-red) !important;
    font-weight: bold;
}

.green {
    background-color: var(--dark-green) !important;
}

.underline {
    text-decoration: underline;
    cursor: default !important;
}

#updateProductsForm {
    display: none;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='file'],
input[type='password'],
input[type='datetime-local'],
select {
    height: 35px !important;
}

input[type='file']{
    padding: 0 !important;
}

::file-selector-button{
    background-color: var(--dark-green);
    height: 100%;
    color: white;
    border: none;
}

::file-selector-button:hover{
    background-color: var(--dark-red);
}