*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

a.navMenu{
    text-decoration: none;
    background-color: var(--dark-green);
}

a.navLogo{
    background-color: var(--green);
    padding: 0.8em 1em;
    font-size: 20px;
    font-weight: bold;
}

a.navLogo:hover{
    background-color: white;
}

span#one{
    /* color: var(--logo-green); */
    color: var(--dark-green);
}

span#two{
    color: var(--logo-red);
}

span#three{
    color: var(--logo-black);
}

nav{
    display: flex;
    font-size: 3.5vh;
    flex-wrap: wrap;
    column-gap: 2vw;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-green);
    position: sticky;
    top: 0;
    left: 0;
    padding: 2vh;
}

nav > a{
    padding: 1vh;
    color: white;
}

nav > a.navMenu:hover{
    color: var(--dark-red);
    font-weight: bold;
    background-color: var(--red);
    border-radius: 5px;
}

input[type="search"]{
    border: 1px solid var(--dark-green);
    padding: 10px;
    border-radius: 5px;
    width: 25vw;
    color: var(--dark-green);
}

button#menu{
    width: 3em;
    background-color: var(--green);
    border: 1px solid var(--logo-green);
    border-radius: 5px;
    font-size: 4vh;
    color: var(--dark-green);
}

button#menu:hover{
    background-color: var(--logo-green);
    cursor: pointer;
    color: white;
}

i.zmdi-home{
    color: var(--dark-green);
    font-size: 1.3em;
}

span#hello{
    color: white;
    font-size: 0.8em;
}

label.navMenu{
    color: white;
}

/* img.nav_menu{
    background-color: var(--green);
    padding: 0.3em 1em;
    border-radius: 5px;
    cursor: pointer;
}

img.nav_menu:hover{
    background-color: var(--red);
} */

.activeNavItem{
    color: var(--dark-red);
    font-weight: bold;
    background-color: var(--red) !important;
    border-radius: 5px;
}

span#logOut{
    background-color: var(--red);
    color: var(--dark-red);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

span#logOut:hover{
    background-color: var(--dark-red);
    color: white;
}