.otp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp > input[type="text"]{
    width: 35px;
    margin: 2px;
    text-align: center;
    border: 1px solid var(--dark-green);
    border-radius: 3px;
    padding: 5px;
}

/* .sendOtp{
    font-size: 0.7em;
    width: fit-content;
    padding: 0.2em;
    cursor: pointer;
}

.sendOtp:hover{
    background-color: var(--dark-red);
} */

.userResetPassword{
    background-color: var(--dark-green);
    border-radius: 5px;
    color: white;
    padding: 2px 10px;
}

.divUser{
    text-align: center;
}