.otp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp > input[type="text"]{
    width: 35px;
    margin: 2px;
    text-align: center;
    border: 1px solid var(--dark-green);
    border-radius: 3px;
    padding: 5px;
}

.userResetPassword{
    background-color: var(--dark-green);
    border-radius: 5px;
    color: white;
    padding: 2px 10px;
}

.divUser{
    text-align: center;
}