<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in at ShopEasy.com</title>
    <link rel="shortcut icon" href="../logo/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/var.css">
    <link rel="stylesheet" href="../css/entry.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>

<body>
    <div class="upside">

        <strong>Start your journey with us.</strong>

        <p>
            Discover the platform that helps to reduce the burden from your shoulders to run your shop.
        </p>

    </div>

    <div class="main">

        <div class="logo">
            <img src="../logo/logo.gif" alt="ShopEasy.com" />
        </div>

        <div class="container">

            <div class="title"><strong>Sign in</strong></div>

            <form action="/">
                <div>
                    <label>You are a</label>
                    <span class="rdo">
                        <input type="radio" name="user_type" id="shopkeeper" value="shopkeeper" />
                        <label for="shopkeeper">Shopkeeper</label>
                    </span>

                    <span class="rdo">
                        <input type="radio" name="user_type" id="customer" value="customer" />
                        <label for="customer">Customer</label>
                    </span>
                </div>

                <div><label for="email"><i class="zmdi zmdi-email"></i>Email</label></div>
                <div><input type="email" name="email" id="email" placeholder="abc@xyz.pqr" /></div>

                <div><label for="password"><i class="zmdi zmdi-lock"></i>Password</label></div>
                <div><input type="password" name="password" id="password" placeholder="Minimum 8 characters" /></div>

                <div class="btn"><button type="submit">Sign in</button></div>

            </form>
            <div class="go_to_login"><span>New to ShopEasy.com? <a href="signup.html">Sign up</a></span></div>
        </div>

    </div>
    
    <script src="../js/usertype.js"></script>
</body>

</html>